.App {
  text-align: center;
}

.title {
  margin: 0;
}

.form {
  display: block;
}

.formRow {
  padding: 1rem;
  margin: 0;
  border: 0;
}

.suggestions {
  margin: 0;
  padding: 0.5rem;
  border: 1px solid black;
  list-style: none;
  text-align: left;
}

.suggestion {
  display: flex;
}

.suggestionEntry {
  display: flex;
  margin-top: 0;
  flex-wrap: wrap;
  width: 100%;
  color: gray;
}

.suggestionKey {
  flex-basis: 30%;
  color: gray;
}

.suggestionValue {
  margin: 0;
  flex-basis: 70%;
  color: gray;
}
